 @model Booking_System.Model.ViewModels.HomeVM  
 

 <!-- Hero Section Begin -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Sona A Luxury Hotel</h1>
                    <p>
                        Here are the best hotel booking sites, including recommendations for international
                        travel and for finding low-priced hotel rooms.
                    </p>
                    <a href="#" class="primary-btn">Discover Now</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5 offset-xl-2 offset-lg-1">
                <div class="booking-form">
                    <h3>Booking Your Hotel</h3>

                    <form method="post" asp-action="GetRoomsByDate">

                        
                        <div class="check-date">
                            <label for="date-in">Check In:</label>
                            <input asp-for="CheckInDate" type="text" class="date-input" >
                            <i class="icon_calendar"></i>
                        </div>
                        
                       
                        <div class="select-option">
                            <label >Nights:</label>
                            <select  asp-for="Nights">

                                @for(int i =1; i <=15; i++)
                                {
                                    <option value="">@i</option>

                                }
                                
                            </select>
                        </div>
                        <button type="button" onclick="LoadRoomList()">Check Availability</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="hero-slider owl-carousel">
        <img src="~/images/img/hero/hero-1.jpg">
        <img src="~/images/img/hero/hero-2.jpg" >
        <img src="~/images/img/hero/hero-3.jpg">
    </div>
</section>


<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Welcome To Sona Hotel </h2>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Rooms Section Begin -->

<partial name="_RoomList" model="Model" />

<!-- Rooms Section End -->




@section scripts {
    <script>
        function LoadRoomList() {
          
            var objData = {
                checkInDate: $("#CheckInDate").val(),
                nights: $("#Nights").val()
            };

            $.ajax({
                type: "POST",
                data: objData,
                url: "@Url.Action("GetRoomsByDate", "Home")",
                success: function (data) {
                   $("#RoomLists").empty();
                    $("#RoomLists").html(data);
                   
                }
               
            });
        }
    </script>
}