
@model int

<div class="text-center">
    
    <h1> Booking Successful: Booking Reference : @Model </h1>

    <div class="image-container p-5">

        <img src="~/images/img/about/about-p3.jpg" width="30%" />

    </div>

</div>